/* General */

.container{
	width:1024px;
	border:2px solid black;
}

#containerCap{
	width:1024px;
	height:1180px;
	border:2px solid black;
}


.main{
	background-color:#FAFAC1;
	width:1024px;
	float:left;
}

#mainCap{
	background-color:#FAFAC1;
	height:1080px;
	width:1024px;
	float:left;
}

#banner{
	width:100%;
	height:100px;
	border-bottom:solid black 2px;
}

h1{
	padding-top:20px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:20px;	
	text-decoration:none;	
	color:black;
}
h2{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;	
	color:black;
	font-weight:bold;
}
h3{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;	
	color:black;
	font-weight:bold;
}

p{
	font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-size:11px;
	text-align: justify;
	color:black;
}
#menu {
width:1024px;
height:30px;
margin: 10px auto 15px auto;
padding:0px;
padding-left:50px;
}
.menuHome#menu{
width:1024px;
height:30px;
margin: 10px auto 15px auto;
padding:0px;
padding-left:90px;
}
#menu li {
display:inline;
}
#menu li a{
font-family: Arial;  
font-size:13px;  
text-decoration: none;
font-weight:bold;  
float:left;  
padding: 10px;  
background-color: #783737;  
color: #FAFAC1;  
border:2px solid #783737;
 }
#menu li a:hover {  
background-color: #FAFAC1;  
margin-top:-2px;  
padding-bottom:12px;  
color:#783737;

} 

#login{
	height:35px;
}

#log {
float:right;
width:80px;
height:30px;
margin: 10px auto 15px auto;
padding-left:60px;
margin-top: 18px;
margin-right:30px;
}


#log  a{
font-family: Arial;  
font-size:13px;  
text-decoration: none;
font-weight:bold;  
float:left;  
padding: 10px;  
background-color: #783737;  
color: #FAFAC1;
}

#log a:hover {  
background-color: #FAFAC1;  
margin-top:-2px;  
padding-bottom:12px;  
color:#783737;
border:2px solid #783737;
} 



/*Home*/

#postres{
	padding-left:260px;
	margin: 15px auto 15px auto;
}

/* Nosotros */


#imgno{
	float: left;
	margin-left: 60px;
	margin-top:70px;
}
#bloque1{
	width: 1020px;
	height: 480px;
}

#historiaEmpresa{	
	width:500px;
	text-align: justify;
	margin: 5%;
	padding-left:50px;
	float: right;
}
#misionVision{
	width:600px;
	text-align: justify;
	margin: 10%;
}
#nuestrosChefs{
	padding-left:50px;
	width:500px;
	text-align: justify;
	margin-top:10px;
}
#txtchefs {
	float: left;
}
#Chefs_MyP {
	float: right;
	margin-right:60px;
}
#historia{
	text-align: right;
}
#vision{
	text-align: right;	
}


/* Servicios */



#servicioempresa{
	padding-right:5%;
	padding-left:5%;	
}

#servicioempresa p {
	width:600px;
	text-align: justify;
}

#servicio{
	float:right;
}

/* Productos */

.basket{
	padding-left:100px;	
}

.boton{
	background-color: #783737;  
	color: #FAFAC1;
	font-family:tahoma, geneva, sans-serif;
	font-weight:bold;
}
#botonComp{
	width : 100px;
	margin-left: 500px;
	margin-top: 30px;
}
#title{
	padding-left:80px; 
}

.postre{
width:650px;
height:150px;
margin-left:100px; 
padding-top:20px;
}

.cantt{
	width : 110px;
    float: right;
	margin-right: 80px;
	margin-top : 80px;
	
}

.lbb{
	padding-left: 3px;
	margin-top:5px;
}

#img1{

float: right;
width: 100px;
margin-top: 30px
}


#img2{

float: left;
width: 100px;
margin-top: 40px;
margin-right:20px;
}

.txtl{
	margin-right: 15px;
	width: 500px;
	float: left;
}

.txtr{
	margin-right: 15px;
	width: 500px;
	float: right;
}

.tcant{
	width: 25px;
	margin-left: 10px;
	margin-top:5px;
}
 
#postre1{
	float:left;	
	padding-right: 40px;
	
}

#postre2{
	float:right;	
	padding-left: 40px;
	
}

/*FAQ*/

#listafaq {
	margin-top:20px;
	width : 550px;
	margin-left: 50px;
	padding-left: 25px;
	padding-right: 25px;
}

#imgFaQ{
	float:right;	
	margin-top: 50px;
	padding-right: 40px;
	
}

#listafaq #msg{
	margin-left:150px;


}

/*Contactenos*/

#contactanos{
	padding-left:80px;
}

#second{
	padding-left:80px;
}

#imagecontact{
	margin-left:38%;
	border:2px solid black; 
}
.lista{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;	
	color:black;
	font-weight:bold;
	list-style-type:none;
	
	
}

#contacto{
	 text-align:center; 
	
	width : 500px;
	margin-left: 250px;
	
}

#contacto p{
	text-align:center;
}

#btn{
	width: 250px;
	height: 30px;
}

/*slideshow*/


/*
	Page style
*/

#container {
	width:580px;
	padding:10px;
	margin:100px auto;
	position:relative;
	border:solid #783737 2px;
	background-color:#FAFAC1;
}

#example {   
	width:600px;
	height:350px;
	position:relative;
}

#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}

#frame {
	position:absolute;
	z-index:0;
	width:739px;
	height:341px;
	top:-3px;
	left:-80px;
}

/*
	Slideshow 
*/

#slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash    (si va)
*/

.slides_container {
	width:570px;
	overflow:hidden;
	position:relative;
	display:none;
	background-color:#FAFAC1;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block (si va)
*/

.slides_container a {
	width:570px;
	height:270px;
	display:block;
}

.slides_container a img {
	display:block;
}

/*
	Botones de anterior y siguiente
*/

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:585px;
}

/*
	Pagination 
*/

.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}



